.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cont-c1{
    width: 50%;
    order: 1;
}

.cont-c2{
    width: 100%;
}

/*.cont-c2_c1, .cont-c2_c2{
    width: 33%;
}*/

.cont-c3{
    width: 50%;
    order: 2;
}