.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cont-c1{
    width: 60%;
}

.cont-c2{
    width: 40%;
}

.cont-c3, .cont-c4{
    width: 33%;
}

.cont-c5{
    width: 34%;
}