.cont-c1{
    width: 30%;
    order: 1;
}
.cont-c2{
    width: 40%;
    order: 2;
}
.cont-c3{
    width: 30%;
    order: 3;
}
.cont-c4{
    width: 50%;
    order: 4;
}
.cont-c5{
    width: 50%;
    order: 5;
}